<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="comercio.movil"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Principal"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    <activity android:name="Portada"
       android:label="Bienvenido">
    </activity>

    <activity android:name="MuestraCategorias"
       android:label="Categorías disponibles">
    </activity>

    <activity android:name="MuestraProductosCat"
       android:label="Productos por categoría">
    </activity>

    <activity android:name="DescripcionProducto"
       android:label="Descripción del producto">
    </activity>

    <activity android:name="Buscar"
       android:label="Búsqueda">
    </activity>

    <activity android:name="DespliegaCategoriasUrl"
       android:label="Categorías">
    </activity>
    
    <activity android:name="MuestraProductosPorCat"
       android:label="Productos por categoría">
    </activity>

    <activity android:name="ProductosListCatLV"
       android:label="Listado de productos">
    </activity>

    <activity android:name="DescripcionProdSelec"
       android:label="Descripción del producto">
    </activity>

    

    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 