<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="comercio.movil"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/iconomcom" android:label="@string/app_name">
    <uses-library android:name="com.google.android.maps" /> 
        <activity android:name=".Principal"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    <activity android:name="Portada"
       android:label="Bienvenido">
    </activity>

    <activity android:name="MuestraCategorias"
       android:label="Categorías disponibles">
    </activity>

    <activity android:name="DescripcionProducto"
       android:label="Descripción del producto">
    </activity>

    <activity android:name="Buscar"
       android:label="Búsqueda">
    </activity>

    <activity android:name="DespliegaCategoriasUrl"
       android:label="Categorías">
    </activity>
    
    <activity android:name="ProductosListCatLV"
       android:label="Listado de productos">
    </activity>

    <activity android:name="DescripcionProdSelec"
       android:label="Descripción del producto">
    </activity>

    <activity android:name="Cesta"
       android:label="Cesta">
    </activity>

    <activity android:name="VerificaCliente"
       android:label="Cliente">
    </activity>    

    <activity android:name="NuevoCliente"
       android:label="Datos de mi cuenta">
    </activity>
    
    <activity android:name="RevisaPedido1"
       android:label="Datos del envío">
    </activity>
    
    <activity android:name="RevisaPedido2"
       android:label="Forma de pago">
    </activity>
    
    <activity android:name="RevisaPedido3"
       android:label="Resumen de su pedido">
    </activity>

    <activity android:name="NuevaDireccionEntrega"
       android:label="Nueva dirección de entrega">
    </activity>

    <activity android:name="NuevaDireccionFactura"
       android:label="Nueva dirección de facturación">
    </activity>

    <activity android:name="CompraFinalizada"
       android:label="Compra finalizada">
    </activity>
    
    <activity android:name="ProductosListCatLVBuscar"
       android:label="Listado de productos encontrados">
    </activity>

    <activity android:name="InicioMapa"
       android:label="Ir al mapa">
    </activity>
        
    <activity android:name="Mapa"
       android:label="Ubicación de la tienda">
    </activity>

    <activity android:name="VerificaDatosCliente"
       android:label="Acceso">
    </activity>
    
    <activity android:name="DatosCuenta"
       android:label="Cliente">
    </activity>
    
    <activity android:name="RevisaPedidosCliente"
       android:label="Listado de pedidos">
    </activity>
    
    <activity android:name="DetallePedido"
       android:label="Detalle del pedido">
    </activity>
    
    <activity android:name="ModificaDatosCliente"
       android:label="Datos">
    </activity>    

    <activity android:name="ActualizaContra"
       android:label="Cliente">
    </activity>     

    <activity android:name="CancelaPedidos"
       android:label="Cancelación de pedidos">
    </activity>     

    <activity android:name="DetalleCancelaPedido"
       android:label="Detalle del pedido">
    </activity> 
    
    </application>
    <uses-permission android:name="android.permission.INTERNET"> </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" > </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"> </uses-permission>
    <uses-sdk android:minSdkVersion="7" />

</manifest> 